<%= simple_form_for :search,  url: tweets_path , :method => :get, :remote => false, :validate=>true,  :html => {  :class => 'form form-vertical validate-form', :style => 'margin-bottom: 0;'} do |f| %>
    <div class="row">
      <div class="clearfix">
        <div class='col-sm-3'>
          <div class='box'>
            <div class='lead'>
              <i class='icon-map-marker contrast'></i>
              Latitude
            </div>
            <%= f.input :latitude,  placeholder: 'Latitude', input_html: {value: params[:search][:latitude], class: 'form-control', :'data-rule-required' => true, required: true}, label: false, as: :float %>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='box'>
            <div class='lead'>
              <i class='icon-map-marker contrast'></i>
              Longitude
            </div>
            <%= f.input :longitude, placeholder: 'Longitude', input_html: { value: params[:search][:longitude],class: 'form-control', :'data-rule-required' => true}, label: false, as: :float %>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='box'>
            <div class='lead'>
              <i class='icon-map-marker contrast'></i>
              Radius (in km)
            </div>
            <%= f.input :radius,  placeholder: 'Radius in Miles', input_html: { value: params[:search][:radius], class: 'form-control',min:1, step: 1, type: 'number', :'data-rule-required' => true}, label: false%>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class='col-sm-7'>
          <div class='box'>
            <div class='lead'>
              <i class='icon-map-marker contrast'></i>
              Hashtags
            </div>
            <%= f.input :hashtags,  placeholder: 'Hashtags (comma delimited)', input_html: { value: params[:search][:hashtags], class: 'form-control'}, label: false,  as: :text %>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit 'Search', input_html: {class: 'btn btn-danger btn-block btn-lg'}%>
<% end %>


<% unless @tweets.nil? or @tweets.empty? %>
    <br><br>
    <b><p>Tweets from matching the search criteria</p></b>
    <table class="table table-hover table-bordered">
    <tr><th>Tweet</th>
    <th>Created At</th></tr>
    <% @tweets.each do |tweet|%>
     <tr><td><%= tweet[:tweet] %></td>
      <td><%= tweet[:time] %></td></tr>
    <% end %>
    </table>
<% end %>
